<div class="grid_6 push_3">
  <p class="large-text">
    In order to reset your password you must supply the email address for your account and answer the
    security question you provided when you created your account. Your password will be reset and emailed
    to the account email address.
  </p>
  <%= render 'security_form' %>
</div>
