<div id="profile_sidebar" class="sidebar-panel">
  <h3>Profile</h3>
  <div id="profile">
    <div class="gravatar">
      <%= image_tag gravatar_url(current_user) %>
      <a href="http://gravatar.com" class="gravatar" target="_blank">Update Image</a>
    </div>
    <div class="stats">
      <h4>Stats</h4>
      <ul>
        <li>Entry Count: <%= current_user.entries.count %></li>
        <li>Tags Used: <%= Tag.current_hacker_tag_count(current_user.id) %></li>
      </ul>
    </div>
  </div>
</div>