<div id="profile_sidebar">
  <ul class="thumbnails">
    <li>
      <div class="thumbnail">
        <%= image_tag gravatar_url(current_user) %>
        <div class="caption">
          <h3>Stats</h3>
          <ul>
            <li>Entry Count: <%= current_user.entries.count %></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>