<% content_for :home_navigation do %>
  <nav id="home_nav" role="navigation" class="grid_5 omega">
    <ul>
      <%= nav_tab 'Home',    home_index_path,                current: current_tab %>
      <%= nav_tab 'About',   home_about_path,                current: current_tab %>
      <%= nav_tab 'Login',   login_path,                     current: current_tab %>
      <%= nav_tab 'Signup',  new_hacker_path,                current: current_tab %>
    </ul>
  </nav>
<% end %>