<%= currently_home_at 'About' %>
<div id="about" class="grid_6 alpha">
  <h2 class="emphasis">About hackrLog</h2>
  <p class="large-text">
    <strong>hackrLog</strong> was born out of frustration with other note taking methods. After trying
    personal Wiki software, text file systems and plain old paper notebooks I was still looking for a
    better solution.
  </p>
  <p class="large-text">
    The problem with wikis and simple text files is ease of entry. When I have a note to write I just
    want to write it. I don't want to hunt down the correct wiki page or text file to enter the note in.
    There are times when a note could belong in more than one place. What do you do then? Enter it in
    every location, which creates duplication and takes more time, or hope you will remember the single
    place you made the note at some point in the future?
  </p>
  <p class="large-text">
    The problem with paper notebooks is finding a note at a later date. Notes become lost in a sea of paper
    and it takes too long to find what you are looking for.
  </p>
  <p class="large-text">
    <strong>hackrLog</strong> solves both of these problems. Instead of hunting down the correct file or
    wiki page to enter a note you simply write up the note and tag it. The more tags you add to a note the
    more points of access for the note you will have later. When looking for a note you can specify any
    number of tags to filter out noise and find the note or notes you need.
  </p>
</div>
<div id="uses" class="grid_6 omega">
  <h2>hackrLog Tips</h2>
  <p class="large-text">
    <strong>Track notes per project.</strong> Create a tag for every project you are working on. Create
    tags for different types of work that need to be done on any given project (coding, documentation, testing).
  </p>
  <p class="large-text">
    <strong>Code change reminders.</strong> You know a piece of code has to change, but not until some other module
    is complete. Create a note documenting what needs to be done and tag it with the project name and the reminder
    tag. Now you can quickly find all of your reminders per project.
  </p>
  <p class="large-text">
    <strong>Library reference.</strong> Tired of hunting down the documentation for the library you are working with?
    Create your own reference material to quickly look up the information you need. Create tags for the library name,
    module name, and method name to ensure easy retrieval in the future.
  </p>
  <p class="large-text">
    <strong>Keyboard shortcut reference.</strong> Instead of trying to cram the keyboard shortcuts for your
    favorite editor into your head all at once make a Keyboard Shortcuts tag and tags for the editor and type of
    shortcut (Editing, Building, Debugging). Write up the shortcuts, a few at a time, as you learn them. In the
    future you will be able to use these tags to get a quick reference.
  </p>
</div>
