<div id="description" class="grid_6 alpha">
  <p class="large-text">
    Your note books are filled with tricky configuration solutions, handy algorithms, keyboard
    shortcuts and reminders to touch up certain bits of code. How do you find the right note when
    you need it again six months later?
  </p>
  <p class="large-text emphasis">
    hackrLog makes it easy to enter and tag development notes so you can find the note you need when
    you need it.
  </p>
</div> <!-- description end -->
<div id="create-form" class="form-container grid_6 omega">
  <% create_hacker %>
  <%= render :partial => 'hackers/form' %>
</div>
  
<div id="features" class="container_12">
  <div class="grid_4 alpha">
    <img src="images/write.png" title="Write"/>
    <p>
      <strong>Enter Notes Quickly</strong> Capture notes while they are fresh in your mind. No need to hunt down
      the correct file or wiki page to edit. Use <a href="http://textile.thresholdstate.com/" title="Textile Reference">Textile</a>, 
      <a href="http://daringfireball.net/projects/markdown/" title="Markdown Reference">Markdown</a> or plain text formatting.
    </p>
  </div>
  <div class="grid_4">
    <img src="images/tag.png" title="Tag"/>
    <p>
      <strong>Tag Your Notes</strong> Use tags liberally to increase the chance of finding the information again in the future.
      Creating new tags is easy, simply add a new tag to a note and it will be created automatically.
    </p>
  </div>
  <div class="grid_4 omega">
    <img src="images/find.png" title="Find"/>
    <p>
      <strong>Find Notes</strong> Combine tags to filter out notes that are not relevant or use full text search
      to find the information you need.
    </p>
  </div>
</div>
