<div class="grid_8 push_2 alpha">
  <h1>hackrLog Terms of Service</h1>
  <p>
    By using the hackrlog.com web site (&quot;Service&quot;), all services of HackrApps, you are agreeing to be
    bound by the following terms and conditions (&quot;Terms of Service&quot;).
  </p>
  <p>
    HackrApps reserves the right to update and change the Terms of Service from time to time without notice.
    Any new features that augment or enhance the current Service, including the release of new tools and
    resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes
    shall constitute your consent to such changes. You can review the most current version of the
    Terms of Service at any time at: <%= link_to 'Terms of Service', :controller => 'home', :action => 'tos' %>
  </p>
  <p>
    Violation of any of the terms below will result in the termination of your Account. While HackrApps
    prohibits such conduct and Content on the Service, you understand and agree that HackrApps cannot be
    responsible for the Content posted on the Service and you nonetheless may be exposed to such materials.
    You agree to use the Service at your own risk.
  </p>
  <h2>Account Terms</h2>
  <p>
    <ol>
      <li>You must be 13 years or older to use this Service.</li>
      <li>You must be human. Accounts registered by &quot;bots&quot; or other automated methods are not permitted.</li>
      <li>You must provide a valid email address, and any other information requested in order to complete the signup process.</li>
      <li>Your login may only be used by one person &macr; a single login shared by multiple people is not permitted. You may create separate logins for as many people as you like.</li>
      <li>You are responsible for maintaining the security of your account and password. HackrApps cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
      <li>You are responsible for all Content posted and activity that occurs under you account (even when Content is posted by others who have access to your account).</li>
      <li>If you are using a free account you are not permitted to block ads.</li>
      <li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright law).</li>
    </ol>
  </p>
  <!--
  <h2>API Terms</h2>
  <p>
    Customers may access their hackrLog account data via an API (Application Program Interface). Any use
    of the API, including use of the API through a third-party product that accesses hackrLog, is bound by
    the terms of this agreement plus the following specific terms:
    <ol>
      <li>
        You expressly understand and agree that HackrApps shall not be liable for any direct, indirect,
        incidental, special, consequential or exemplary damages, including but not limited to, damages
        for loss of profits, goodwill, use, data or other intangible losses (even if HackrApps has been
        advised of the possibility of such damages), resulting from your use of the API or third-party
        products that access data via the API.
      </li>
      <li>
        Abuse or excessively frequent requests to hackrLog via the API may result in the temporary or
        permanent suspension of your account's access to the API. HackrApps, in its sole discretion, will
        determine abuse or excessive usage of the API. HackrApps will make a reasonable attempt via email
        to warn the account owner prior to suspension.
      </li>
      <li>
        HackrApps reserves the right at any time to modify or discontinue, temporarily or permanently, your
        access to the API (or any part thereof) with or without notice.
      </li>
    </ol>
  </p>
  <h2>Payment, Refunds, Upgrading and Downgrading Terms</h2>
  <p>
    <ol>
      <li>
        A valid credit card is required for paying accounts. Free accounts are not required to provide a
        credit card number.
      </li>
      <li>
        <strong>If you initially sign up for a Premium account, and you don't cancel that account within
        30 days, you will be billed monthly starting on the 30th day after your account was initially
        created. If you cancel prior to the processing of your first invoice on the 30th day, you will not
        be charged.</strong>
      </li>
      <li>
        <strong>An upgrade from the free plan to the Premium plan will end your free trial. You will be
        billed for your first month immediately upon upgrading.</strong>
      </li>
      <li>
        <strong>The Service is billed in advance on a monthly basis and is non-refundable. There will be
        no refunds or credits for partial months of service, upgrade/downgrade refunds, or refunds for
        months unused with an open account. In order to treat everyone equally, no exceptions will be
        made.</strong>
      </li>
      <li>
        All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall
        be responsible for payment of all such taxes, levies, or duties, excluding only United States
        (federal or state) taxes.
      </li>
      <li>
        Downgrading your Service may cause the loss of Content, features, or capacity of your Account. 
        HackrApps does not accept any liability for such loss.
      </li>
    </ol>
  </p>
  -->
  <h2>Modifications to the Service and Prices</h2>
  <p>
    <ol>
      <li>
        HackrApps reserves the right at any time and from time to time to modify or discontinue, temporarily
        or permanently, the Service (or any part thereof) with or without notice.
      </li>
      <li>
        Prices of all Services, including but not limited to monthly subscription plan fees to the Service,
        are subject to change upon 30 days notice from us. Such notice may be provided at any time by posting
        the changes to the hackrLog Site (hackrlog.com) or the Service itself.
      </li>
      <li>
        HackrApps shall not be liable to you or to any third party for any modification, price change,
        suspension or discontinuance of the Service.
      </li>
    </ol>
  </p>
  <h2>Copyright and Content Ownership</h2>
  <p>
    <ol>
      <li>
        All content posted on the Service is must comply with U.S. copyright law.
      </li>
      <li>
        We claim no intellectual property rights over the material you provide to the Service. Your
        profile and materials uploaded remain yours.
      </li>
      <li>
        HackrApps does not pre-screen Content, but HackrApps and its designee have the right (but not the
        obligation) in their sole discretion to refuse or remove any Content that is available via the Service.
      </li>
      <li>
        The look and feel of the Service is copyright &copy; 2010 HackrApps. All rights reserved. You may not
        duplicate, copy, or reuse any portion of the HTML/CSS or visual design elements without express written
        permission from HackrApps.
      </li>
    </ol>
  </p>
  <h2>General Conditions</h2>
  <p>
    <ol>
      <li>
        Your use of the Service is at your sole risk. The service is provided on an “as is” and “as available” basis.
      </li>
      <li>
        Technical support is only provided to paying account holders and is only available via email.
      </li>
      <li>
        You understand that HackrApps uses third party vendors and hosting partners to provide the necessary
        hardware, software, networking, storage, and related technology required to run the Service.
      </li>
      <li>
        You must not modify, adapt or hack the Service or modify another website so as to falsely imply that
        it is associated with the Service, HackrApps, or any other HackrApps service.
      </li>
      <li>
        You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of
        the Service, or access to the Service without the express written permission by HackrApps.
      </li>
      <li>
        We may, but have no obligation to, remove Content and Accounts containing Content that we determine
        in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene
        or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.
      </li>
      <li>
        Verbal, physical, written or other abuse (including threats of abuse or retribution) of any HackrApps
        customer, employee, member, or officer will result in immediate account termination.
      </li>
      <li>
        You understand that the technical processing and transmission of the Service, including your Content,
        may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to
        conform and adapt to technical requirements of connecting networks or devices.
      </li>
      <li>
        You must not upload, post, host, or transmit unsolicited email, SMSs, or “spam” messages.
      </li>
      <li>
        You must not transmit any worms or viruses or any code of a destructive nature.
      </li>
      <li>
        HackrApps does not warrant that (i) the service will meet your specific requirements, (ii) the service
        will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the
        use of the service will be accurate or reliable, (iv) the quality of any products, services, information, 
        or other material purchased or obtained by you through the service will meet your expectations, and (v) any
        errors in the Service will be corrected.
      </li>
      <li>
        You expressly understand and agree that HackrApps shall not be liable for any direct, indirect, incidental,
        special, consequential or exemplary damages, including but not limited to, damages for loss of profits,
        goodwill, use, data or other intangible losses (even if 37signals has been advised of the possibility of such
        damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of
        substitute goods and services resulting from any goods, data, information or services purchased or obtained
        or messages received or transactions entered into through or from the service; (iii) unauthorized access to
        or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service;
        (v) or any other matter relating to the service.
      </li>
      <li>
        The failure of HackrApps to exercise or enforce any right or provision of the Terms of Service shall not
        constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement
        between you and HackrApps and govern your use of the Service, superseding any prior agreements between you
        and HackrApps (including, but not limited to, any prior versions of the Terms of Service).
      </li>
      <li>
        Questions about the Terms of Service should be sent to support at hackrlog dot com
      </li>
    </ol>
  </p>
</div>