<div class="row">
  <div class="span9 offset1">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#about" data-toggle="tab">About</a></li>
        <li><a href="#team" data-toggle="tab">Team</a></li>
      </ul>
      <div class="tab-content">
        <div id="about" class="tab-pane active fade in">
          <h2>About hackrLog()</h2>
          <p>
            I created <strong>hackrLog()</strong> for two reasons. Firstly, other note taking systems and methods
            didn't completely fit my needs. After trying wiki systems, online note apps, text files and plain
            paper notebooks I still didn't have a workable note taking system. I wanted something that would allow
            me to enter notes quickly without having to hunt down the correct wiki page or text file to enter the
            note into and also be able to find older notes just as quickly.
          </p>
          <p>
            Secondly, after reading <a href="http://pragprog.com/book/cfcar2/the-passionate-programmer" title="The Passionate Programmer">The Passionate Programmer</a>
            I wanted to keep a development log as mentioned in <strong>Tip 35. Me Rite Reel Nice</strong> as a way
            to improve my writing and to have a history of decisions regarding the projects I work on.
          </p>
          <p>
            <strong>hackrLog()</strong> solves both of these problems. Instead of hunting down the correct file or
            wiki page to enter a note you simply write up the note and tag it. The more tags you add to a note the
            more points of access for the note you will have later. When looking for a note you can specify any
            number of tags to filter out noise and find the note or notes you need.
          </p>
        </div>
        <div id="team" class="tab-pane fade">
          <h2>hackrLog Tips</h2>
          <p>
            <strong>Track notes per project.</strong> Create a tag for every project you are working on. Create
            tags for different types of work that need to be done on any given project (coding, documentation, testing).
          </p>
          <p>
            <strong>Code change reminders.</strong> You know a piece of code has to change, but not until some other module
            is complete. Create a note documenting what needs to be done and tag it with the project name and the reminder
            tag. Now you can quickly find all of your reminders per project.
          </p>
          <p>
            <strong>Library reference.</strong> Tired of hunting down the documentation for the library you are working with?
            Create your own reference material to quickly look up the information you need. Create tags for the library name,
            module name, and method name to ensure easy retrieval in the future.
          </p>
          <p>
            <strong>Keyboard shortcut reference.</strong> Instead of trying to cram the keyboard shortcuts for your
            favorite editor into your head all at once make a Keyboard Shortcuts tag and tags for the editor and type of
            shortcut (Editing, Building, Debugging). Write up the shortcuts, a few at a time, as you learn them. In the
            future you will be able to use these tags to get a quick reference.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>