<div class="row">
  <div class="span9 offset1">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#about" data-toggle="tab">About</a></li>
        <li><a href="#philosophy" data-toggle="tab">Philosophy</a></li>
      </ul>
      <div class="tab-content">
        <div id="about" class="tab-pane active fade in">
          <h2>About hackrLog()</h2>
          <p>
            I created <strong>hackrLog()</strong> for two reasons. Firstly, other note taking systems and methods
            didn't completely fit my needs. After trying wiki systems, online note apps, text files and plain
            paper notebooks I still didn't have a workable note taking system. I wanted something that would allow
            me to enter notes quickly without having to hunt down the correct wiki page or text file to enter the
            note into and also be able to find older notes just as quickly.
          </p>
          <p>
            Secondly, after reading <a href="http://pragprog.com/book/cfcar2/the-passionate-programmer" title="The Passionate Programmer">The Passionate Programmer</a>
            I wanted to keep a development log as mentioned in <strong>Tip 35. Me Rite Reel Nice</strong> as a way
            to improve my writing and to have a history of decisions regarding the projects I work on.
          </p>
          <p>
            <strong>hackrLog()</strong> is the note taking application I wanted for myself. I hope that other people
            will find it useful as well. Instead of hunting down the right wiki page or file to write a note you just
            write the note while it is fresh in your mind. Add tags to the note to categorize it and so that you can
            filter your stream of notes. See all of your notes from newest to oldest or turn on a filter for one or
            more tags to see only the notes you are interested in at the moment.
          </p>
        </div>
        <div id="philosophy" class="tab-pane fade">
          <h2>hackrLog() Philosophy</h2>
          <p>
            Some of the decisions I have made in developing this app may strike some people as strange, so I hope
            this section will explain a little about why things are the way they are.
          </p>
          <h3>Anti-Social?</h3>
          <p>
            You may notice there is no way to follow other members, no way to create public notes and no method for
            liking or rating notes. My desire was for this application to help developers with their work, not to be
            a popularity contest. When you join <strong>hackrLog()</strong> there is no pressure to build your network
            or increase your 'friend' count. Just write notes and find notes.
          </p>
          <h3>Why No Ad Supported Free Account?</h3>
          <p>
            This is pretty simple. I hate looking at ads. I'm sure most of you do too. You can rest easy knowing that
            all of your data is visible only to you. No advertiser will ever use it to target ads to you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>