<div class="row">
  <div class="span9 offset1">
    <h1>hackrLog() Pricing</h1>
    <p>
      SImple pricing for a simple app. <strong>hackrLog()</strong> offers just two pricing plans, free and
      premium. You have access to every feature with both plans, however, the free plan is limited to a
      total of fifty entries.
    </p>
    <div class="row">
      <div class="span3 offset1">
        <div class="pricing-box">
          <div class="box">
            <h2>hackrLog() Free</h2>
            <h3>Free</h3>
            <p>Create 50 Entries</p>
            <p>Filter by Multiple Tags</p>
            <p>Markdown Formatting</p>
            <p>Code Syntax Highlighting</p>
            <p>SImple Data Export</p>
            <p>Ad Free</p>
            <p>Limited Support</p>
            <p><%= link_to 'Sign Up!', new_hacker_path, class: 'btn btn-primary btn-large' %></p>
          </div>
        </div>
      </div>
      <div class="span3 offset1">
        <div class="pricing-box">
          <div class="box">
            <h2>hackrLog() Premium</h2>
            <h3>$9.99 / Year</h3>
            <p>Unlimited Entries</p>
            <p>Filter by Multiple Tags</p>
            <p>Markdown Formatting</p>
            <p>Code Syntax Highlighting</p>
            <p>SImple Data Export</p>
            <p>Ad Free</p>
            <p>Priority Support</p>
            <p><%= link_to 'Sign Up!', new_hacker_path, class: 'btn btn-primary btn-large' %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>