<p>
  In order to reopen your account you must supply your email address and answer the security
  question you provided when you created your account. Your password will be reset and emailed
  to the account email address.
</p>
<%= render 'security_form' %>