<% @tags = tag_usage(session[:hacker_id]) %>
<div id="tag_manager">
  <h3>Your Tags</h3>
  <table>
    <% @tags.each do |tag| %>
    <tr>
      <td class="tag"><a href="/tags/<%= tag.id %>"><%= tag.name %></a></td>
      <td><%= tag.count %></td>
    </tr>
    <% end %>
  </table>
  <div>
    <%= add_tag_mini_form %>
  </div>
</div>