<% @tags = get_updated_tag_list %>
<div id="tag_manager">
  <h3 id="list_name">Used Tags</h3>
  <ul>
    <% @tags.each do |tag| %>
      <li>
        <label class="checkbox">
          <%= tags_check_box_tag 'tag_ids[]', "tag_id_#{tag.id}", tag.id, checked?(tag), class: 'filter-checkbox' %>
          <span class="badge"><%= tag.name %></span>
        </label>
      </li>
    <% end %>
  </ul>
</div>