<% @tags = get_updated_tag_list %>
<div id="tag_manager">
  <h3 id="list_name">Used Tags</h3>
  <ul>
    <% @tags.each do |tag| %>
      <li>
        <span class="tag">
          <%= tags_check_box_tag 'tag_ids[]', "tag_id_#{tag.id}", tag.id, checked?(tag), class: 'filter_checkbox' %>
          <%= label_tag "tag_id_#{tag.id}", tag.name %>
        </span>
      </li>
    <% end %>
  </ul>
</div>