<div id="combine_results">
<p>
  <strong>Tag(s):</strong>
  <%= h @tags.join(", ") %><br/>
  <strong>Count:</strong> <%= @entries.count %>
</p>

<%= render partial: 'entries/entry', collection: @entries %>
</div>
