// Color and Font SCSS variables used in hackrLog.

$text-color:         #000;
$bg-color:           #fff;
$sidebar-bg-color:   #eee;
$sidebar-text-color: #666;
$sidebar-link-color: #ccc;
$link-color:         #fff;
$border-color:       #ccc;
$field-error-color:  #f00;