@import "constants";

body
{
  background-image: url('12_col.gif');
  background-repeat: repeat-y;
  background-position: center;
}

header#page_header
{
  background-color: $text-color;
  color: $text-color;
  height: 60px;
  margin-bottom: 10px;
  overflow: hidden;
  
  a,
  a:link,
  a:hover,
  a:active,
  a:visited
  {
    color: $link-color;
    text-decoration: none;
  }
  
  nav
  {
    margin: 0;
    padding: 0;

    ul
    {
      margin: 0;
      padding: 0;

      li
      {
	    display: inline;
      }
    }
  }
}

footer#page_footer
{
  color: $text-color;
  font-size: 0.8em;
  
  ul
  {
    margin: 0;
	padding: 0;
	
    li
    {
      border-right: 1px solid $border-color;
      display: inline;
      padding-right: 2px;
      &:last-child
      {
        border-right: none;
      }
    }
  }
}