@import "constants";

header#page_header
{
  background-color: $text-color;
  color: $text-color;
  height: 60px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px 20px;
  
  a,
  a:link,
  a:hover,
  a:active,
  a:visited
  {
    color: $link-color;
    text-decoration: none;
  }
  
  div#search
  {
    display: inline;
    
    form
    {
      display: inline;
    }
  }
  
  nav
  {
    float: right;
    
    li
    {
      display: inline;
    }
  }
}

section#content
{
  float: left;
}

section#sidebar
{
  float: right;
  margin-right: -20px;
  width: 300px;
}

footer#page_footer
{
  background-color: $bg-color;
  color: $text-color;
  font-size: 0.8em;
  
  ul
  {
    margin-left: -10px;
    padding: 0;
    
    li
    {
      border-right: 1px solid $border-color;
      display: inline;
      margin: 0;
      &:last-child
      {
        border-right: none;
      }
    }
  }
}