section#sidebar
{
  background-color: #eee;
  color: #666;
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.3em;
  padding: 10px;
  a,
  a:link,
  a:visited
  {
    color: #666;
    text-decoration: underline;
  }
  
  a:hover,
  a:active
  {
    color: #b5d;
  }
}