<% @tag_sets = tag_sets_usage(session[:hacker_id]) %>
<div id="tag_sets_manager">
  <table>
    <tr>
      <th id="title" colspan="3">Tag Sets</th>
    </tr>
    <% @tag_sets.each do |tag_set| %>
    <tr>
      <td><a href="/tag_set/<%= tag_set.id %>"><%= tag_set.name %></a></td>
      <td class="action"><%= link_to 'A', tag_set, remote: true, method: :get, title: "Activate" %></td>
      <td class="action"><%= link_to 'X', tag_set, remote: true, confirm: 'Are you sure you wish to delete this Tag?', method: :delete, title: "Delete Tag: #{tag_set.name}" %></td>
    </tr>
    <% end %>
  </table>
</div>