<div id="tag_sets_manager">
  <table>
    <tr>
      <th id="title" colspan="3">Tag Sets</th>
    </tr>
    <% current_user.tag_sets.each do |tag_set| %>
    <tr>
      <td><a href="/tag_set/<%= tag_set.id %>"><%= tag_set.name %></a></td>
      <%= tag_set_action(tag_set) %>
      <td class="action"><%= link_to 'X', tag_set, remote: true, confirm: 'Are you sure you wish to delete this Tag?', method: :delete, title: "Delete Tag: #{tag_set.name}" %></td>
    </tr>
    <% end %>
  </table>
</div>