<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>hackrLog()</title>
  	<meta name="description" content="Log your development notes, ideas and todos."/>
  	<meta name="keywords" content="hackers coders programmers programming development notes log todos"/>
  	<meta name="author" content="David Lains"/>
  	<meta name="copyright" content="copyright (c) 2012" />
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/assets/beta-requests.css"/>
    <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="wrapper">
      <div id="code">
        <h2>hackrLog() Beta Activation</h2>
        <p>All beta users have been sent activation emails.</p>
      </div>
    </div>
  </body>
</html>
