// Color and Font SCSS variables used in hackrLog.

$text-color:         #5b656a;
$bg-color:           #fff;
$sidebar-text-color: #666;
$sidebar-link-color: #ccc;
$link-color:         #fff;
$border-color:       #ccc;
$field-error-color:  #f00;

$background-fill-color: #515558;
$header-fill-color: #414448;