// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section#content div#entry_form
{
  margin-bottom: 20px;
}

section#content div#loading
{
  display: none;
  width: 100%;
  height: 100%;
  
  img
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

article.entry
{
  margin-bottom: 10px;
  
  .meta
  {
    margin-right: -1px;
    border-right: 1px solid #eee;
    
    ul
    {
      margin: 0;
      padding: 0;
      list-style: none;

      li
      {
        margin-bottom: 5px;
      }
    }
  }
}