footer#page_footer
{
  margin-top: 10px;
  padding: 5px;
  
  ul
  {
    margin: 0;
	  padding: 0;
	  list-style: none;
	  
    li
    {
      display: inline;
      padding-right: 3px;
    }
  }
}

footer#home_footer
{
  ul
  {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li
    {
      display: inline;
      padding-right: 3px;
    }
  }
}