<%= form_for(@new_tag, remote: true) do |f| %>
  <fieldset>
    <ol>
      <li><%= f.text_field :name, size: 20, accesskey: 'A', placeholder: 'New tag.' %><%= submit_tag 'Create' %></li>
    </ol>
  </fieldset>
<% end %>
